
<h2>Waivers</h2>

<h3>amd64</h3>
<h4 id="amd64-porters">Porters</h4>
<p>Our toolchain maintainers are happy to support amd64 as-is.</p>

<h3>armel / armhf</h3>
<h4 id="armel-buildds">Buildds (armel)</h4>
<p>All buildds except one (ancina) are at the same location. Machine redundancy is sufficient.</p>

<h3>i386</h3>
<h4 id="i386-porters">Porters</h4>
<p>Our toolchain maintainers are happy to support i386 as-is.</p>

<h3>kfreebsd</h3>
<h4 id="kfreebsd-upstream">Upstream Support</h4>
<p>Kernel has obviously a large community which supports it.  gcc has upstream
  support, the kfreebsd-specific part is only a few hundred lines long.  glibc
  is done by us (mostly Petr Salinger).</p>

<h3>mips/mipsel</h3>
<h4 id="mipsen-concerns">RM Concerns</h4>
<p>
Need to re-evaluate the situation with mips and mipsel in two months.
There is a hardware offer currently being discussed with DSA (and would also resolve
the concerns from DSA),
looks like heading in the right direction.
Up to that implemented, mips and mipsel is just keeping up with unstable and experimental on most days.
</p>

<h3>sparc</h3>
<h4 id="sparc-upstream">Upstream Support</h4>
<p>According to the gcc maintainer 32bit code generation as we use it is no
  longer supported upstream and we should aim for a switch to 64bit userland
  anytime soon.</p>
</div>
</body>
</html>

